flows(1).json
[{"id":"7e266f7d.91b428","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a0b1f990.c80938","type":"inject","z":"7e266f7d.91b428","name":"","topic":"","payload":"{\"selection\":{\"tool\":0,\"spool\":{\"id\":6}}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":40,"wires":[["1947a2da.482c25"]]},{"id":"27ae7dca.9964ea","type":"http request","z":"7e266f7d.91b428","name":"Selection PATCH","method":"use","ret":"txt","paytoqs":false,"url":"http://<IP>/plugin/filamentmanager/selections/0","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":100,"wires":[["b3bcc6bf.8a542"]]},{"id":"d0a43c43.0f3cd","type":"debug","z":"7e266f7d.91b428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":280,"wires":[]},{"id":"1947a2da.482c25","type":"function","z":"7e266f7d.91b428","name":"","func":"msg.method = \"PATCH\"\nmsg.topic = \"selection\";\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["f53100d6.31a4f"]]},{"id":"f53100d6.31a4f","type":"change","z":"7e266f7d.91b428","name":"","rules":[{"t":"set","p":"headers['X-Api-Key']","pt":"msg","to":"1234567890abcdefghi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":180,"wires":[["27ae7dca.9964ea"]]},{"id":"b3bcc6bf.8a542","type":"json","z":"7e266f7d.91b428","name":"","property":"payload","action":"obj","pretty":false,"x":810,"y":40,"wires":[["b06f6669.784b5"]]},{"id":"b1a38d1b.a77fc8","type":"inject","z":"7e266f7d.91b428","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":400,"wires":[["c69912b5.825ba"]]},{"id":"bea0175e.c6397","type":"http request","z":"7e266f7d.91b428","name":"selections GET","method":"GET","ret":"txt","paytoqs":false,"url":"http://<IP>/plugin/filamentmanager/selections","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":320,"wires":[["78c04e0e.44aaf"]]},{"id":"c69912b5.825ba","type":"change","z":"7e266f7d.91b428","name":"","rules":[{"t":"set","p":"headers['X-Api-Key']","pt":"msg","to":"1234567890abcdefg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":360,"wires":[["bea0175e.c6397"]]},{"id":"78c04e0e.44aaf","type":"json","z":"7e266f7d.91b428","name":"","property":"payload","action":"obj","pretty":false,"x":750,"y":380,"wires":[["efbc05e8.618508"]]},{"id":"b06f6669.784b5","type":"function","z":"7e266f7d.91b428","name":"","func":"var newMsg;\nif (msg.topic==\"selection\") {\n    msg.payload = { \n    \"id\" : msg.payload.selection.spool.id,\n    \"cost\": msg.payload.selection.spool.cost,\n    \"vendor\": msg.payload.selection.spool.profile.vendor,\n    \"material\": msg.payload.selection.spool.profile.material,\n    \"name\": msg.payload.selection.spool.name,\n    \"used\": msg.payload.selection.spool.used,\n    \"weight\": msg.payload.selection.spool.weight,\n    \"command\": msg.topic\n    }\n//newMsg = { payload:  msg.payload.selection.spool.profile.vendor+\" \"+msg.payload.selection.spool.profile.material+\" \"+msg.payload.selection.spool.name,topic:msg.topic };\n}\nelse {\n//newMsg = {payload: '{\"id\":'+msg.payload.selections[0].spool.id+'}'}\nmsg.payload = { \n    \"id\" : msg.payload.selections[0].spool.id,\n    \"cost\": msg.payload.selections[0].spool.cost,\n    \"vendor\": msg.payload.selections[0].spool.profile.vendor,\n    \"material\": msg.payload.selections[0].spool.profile.material,\n    \"name\": msg.payload.selections[0].spool.name,\n    \"used\": msg.payload.selections[0].spool.used,\n    \"weight\": msg.payload.selections[0].spool.weight,\n    \"command\": msg.topic\n    }\n    \n\n\n//newMsg = {payload: '{\"id\":'+msg.payload.selections[0].spool.id+',\\n\"cost\":'+msg.payload.selections[0].spool.cost+',\"vendor\":\"'+msg.payload.selections[0].spool.profile.vendor+'\",\"material\":\"'+msg.payload.selections[0].spool.profile.material+'\",\"name\":\"'+msg.payload.selections[0].spool.name+'\",\"used\":'+msg.payload.selections[0].spool.used+',\"weight\":'+msg.payload.selections[0].spool.weight+'}'};\n//newMsg = { payload:  msg.payload.selections[0].spool.profile.vendor+\" \"+msg.payload.selections[0].spool.profile.material+\" \"+msg.payload.selections[0].spool.name,topic:msg.topic };\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":810,"y":260,"wires":[["9c9a4f67.cbf75"]]},{"id":"1efe0229.ac6396","type":"mqtt out","z":"7e266f7d.91b428","name":"","topic":"octoPrint/filamentManager/currentSpool","qos":"2","retain":"true","broker":"5acbc564.f3188c","x":1140,"y":380,"wires":[]},{"id":"40ddb0f5.0c3648","type":"mqtt in","z":"7e266f7d.91b428","name":"","topic":"octoPrint/filamentManager/cmd","qos":"2","datatype":"auto","broker":"5acbc564.f3188c","x":130,"y":200,"wires":[["64bf605.a1d422"]]},{"id":"e7c76157.790968","type":"function","z":"7e266f7d.91b428","name":"","func":"var id = msg.payload;\nmsg.payload = '{\"selection\" : { \"tool\" :0, \"spool\":{ '+ id +'}}}'\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":120,"wires":[["58c06e7e.4a9a68"]]},{"id":"58c06e7e.4a9a68","type":"json","z":"7e266f7d.91b428","name":"","property":"payload","action":"","pretty":false,"x":370,"y":120,"wires":[["1947a2da.482c25"]]},{"id":"64bf605.a1d422","type":"switch","z":"7e266f7d.91b428","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"id\"","vt":"str"},{"t":"eq","v":"request","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":260,"wires":[["e7c76157.790968"],["c69912b5.825ba"]]},{"id":"9c9a4f67.cbf75","type":"json","z":"7e266f7d.91b428","name":"","property":"payload","action":"str","pretty":true,"x":950,"y":260,"wires":[["d0a43c43.0f3cd","1efe0229.ac6396"]]},{"id":"efbc05e8.618508","type":"function","z":"7e266f7d.91b428","name":"","func":"msg.topic = \"request\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":460,"wires":[["b06f6669.784b5"]]},{"id":"a956a235.d90b78","type":"comment","z":"7e266f7d.91b428","name":"","info":" * MQQT-Server must be set\n * both switch nodes msg.headers X-API-Key must be set to Octoprint API Key\n * both http-Get/Patch-nodes must be set to local IP\n selectionPATCH : http://<IP>/plugin/filamentmanager/selections/0\n selectionGET: http://<IP>/plugin/filamentmanager/selections\n","x":440,"y":60,"wires":[]},{"id":"5acbc564.f3188c","type":"mqtt-broker","z":"","name":"","broker":"192.168.2.54","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]